.details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.questions__details {
  padding-bottom: 16px;
  width: 288px;
  border-bottom: 1px solid #eceff2;
  margin: 0 auto;
  transition: 0.6s;
}

.questions__details_summary {
  display: flex;
  width: 288px;
  margin: 0 auto;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #191c1f;
  cursor: pointer;
  transition: 0.6s;
}
.questions__details_summary:hover {
  color: #2a6cea;
  transition: 0.6s;
}
.questions__details[open] > .questions__details_summary {
  color: #191c1f;
}

.questions__details_summary span {
  padding-right: 20px;
}

.questions__details_summary::-webkit-details-marker {
  display: none;
}

.questions__details_summary::after {
  display: flex;
  content: url("../../../images/close.svg");
  width: 24px;
  height: 24px;
  margin-top: 5px;
}
.questions__details_summary:hover::after {
  content: url("../../../images/closehover.svg");
}

.questions__details[open] > summary::after {
  content: url("../../../images/close1.svg");
}

.details-text {
  margin-top: 16px;
  padding-right: 41px;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #5e646a;
}

@media (width >= 375px) {
  .questions__details {
    padding-top: 0px;
    width: 343px;
  }
  
  .questions__details_summary {
    width: 344px;
    
  }
  
}

@media (width >= 768px) {
  .details-wrapper {
    gap: 17px;
  }
  .questions__details {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 727px;
  }
  
  .questions__details_summary {
    width: 727px;
    height: 64px;
    
  }
  .questions__details:first-child {
    border-top: 1px solid #eceff2;
    border-bottom: none;
    padding-top: 18px;
    padding-bottom: 0px;
    border-bottom: 1px solid #eceff2;
  }
  .questions__details_summary span {
    padding-top: 10px;
    width: 705px;
    padding-right: 0px;
  }

  .details-text {
    margin-top: 0px;
    padding-right: 41px;
  
  }
}

@media (width >= 1400px) {
  .details-wrapper {
    gap: 22px;
  }
  .questions__details {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 1008px;
  }
  
  .questions__details_summary {
    align-items: center;
    width: 1008px;
    height: 64px;
    padding-top: 0px;
    
  }
  .questions__details:first-child {
    border-top: 1px solid #eceff2;
    border-bottom: none;
    padding-top: 10px;
    padding-bottom: 0px;
    border-bottom: 1px solid #eceff2;
  }
  .questions__details_summary span {
    padding-top: 0px;
    width: 1000px;
    padding-right: 0px;
  }

  .details-text {
font-size: 18px;
line-height: 32px;
  
  }
  .questions__details_summary::after {
    margin-top: 0px;
  }
}

